<div id="overlay" *ngIf="gameRunner.gameOver" (click)="resetGame()">
  <div id="text">{{ gameRunner.currentPlayerWhite ? "White" : "Black" }} Player Wins</div>
</div>

<div
  class="board-container"
  (click)="clearHighlightedCells()"
  id="board-container">
  <div class="col-numbers">
    <div
      class="number-cell"
      *ngFor="let column of gameRunner.columns">{{ column }}</div>
  </div>
  <div class="row-numbers">
    <div
      class="number-cell"
      *ngFor="let row of gameRunner.rows">{{ row }}</div>
  </div>
  <div class="game-board">
    <ng-container *ngFor="let row of gameRunner.rows; index as rIdx">
      <div
        [id]="'square-' + row + '-' + column"
        *ngFor="let column of gameRunner.columns; index as cIdx"
        (click)="makeMove('square-' + row + '-' + column)"
        [ngClass]="{'white-square': !((rIdx + cIdx) % 2), 'black-square': (rIdx + cIdx) % 2, 'highlighted':
        highlightedCells.has('square-' + row + '-' + column)}">
      </div>
    </ng-container>
  </div>
  <div class="row-numbers">
    <div
      class="number-cell"
      *ngFor="let row of gameRunner.rows">{{ row }}</div>
  </div>
  <div class="col-numbers">
    <div
      class="number-cell"
      *ngFor="let column of gameRunner.columns">{{ column }}</div>
  </div>
</div>

<app-game-piece
  *ngFor="let piece of gameRunner.whitePieces"
  [piece]="piece"
  (pieceClicked)="highlightComponentMoves($event)"
  (moveCompleted)="onMoveAnimationEnd($event)"></app-game-piece>
<app-game-piece
  *ngFor="let piece of gameRunner.blackPieces"
  [piece]="piece"
  (pieceClicked)="highlightComponentMoves($event)"
  (moveCompleted)="onMoveAnimationEnd($event)"></app-game-piece>

<div style="display: inline-block; vertical-align:top">
  <p style="display: inline">Current Player: {{ gameRunner.currentPlayerWhite ? "White" : "Black" }}</p><br>
  <button (click)="resetGame()">Reset</button>
</div>
