
$square-size: 75px;
$board-border-width: 2px;
$number-cell-size: 40px;
$number-of-squares: 10;

$white-cell-color: #F4D49E;//#F0F0F0;
$black-cell-color: #A35030;//#1A1D21;


.number-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: #fff;
  font-size: 22px;
}

.board-container {
  display: inline flex;
  flex-flow: row wrap;
  position: relative;

  width: $number-of-squares * $square-size + 2 * $board-border-width + 2 * $number-cell-size;
  height: $number-of-squares * $square-size + 2 * $board-border-width + 2 * $number-cell-size;

  background-color: $black-cell-color;//#855E42;

  .col-numbers {
    display: grid;
    grid-template-columns: repeat($number-of-squares, $square-size);
    grid-template-rows: $number-cell-size;

    margin: 0 $board-border-width + $number-cell-size;

  }

  .row-numbers {
    display: grid;
    grid-template-columns: $number-cell-size;
    grid-template-rows: repeat($number-of-squares, $square-size);

  }

}

.game-board {
  display: grid;
  grid-template-columns: repeat($number-of-squares, $square-size);
  grid-template-rows: repeat($number-of-squares, $square-size);

  border: $board-border-width solid $white-cell-color;

  .black-square {
    background-color: $black-cell-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white-square {
    background-color: $white-cell-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .highlighted {
    background-color: fuchsia !important;
  }

}

#overlay {
  position: fixed;
  display: block;
  width: $number-of-squares * $square-size + 2 * $board-border-width + 2 * $number-cell-size;
  height: $number-of-squares * $square-size + 2 * $board-border-width + 2 * $number-cell-size;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;


  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
}

